@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

:root {
    --cor-fundo: #F8F8F8;
    --cor-fundo-div: #e9ebee;
    --cor-destaque: #475EF2;
    --azul-secundario: #7666e9;
    --cor-fonte: #090D1F;
    --cor-fonte-claro: #636a74; 
    --fonte: Geist, sans-serif;
    --fonte-secundaria: Geist, Mono, sans-serif;
 
    /* --cor-principal: #215BA6;
    --cor-destaque: #475EF2;
    --cor-fonte: #253140;
    --cor-fonte-claro: #636a74;
    --cor-fundo-div: #EBEFF2;
    --cor-fundo: white; */
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    display: grid;
}

.cabecalho__logo {
    background-color: #475EF2;

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .8rem;
    padding: 1rem;
    background-color: var(--cor-fundo-div);
    border-bottom: 1px solid lightgrey;
}

.cabecalho__logo {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.cabecalho__titulo{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-fonte);
}

.cabecalho__texto{
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-fonte-claro);
}

main {
    display: flex;
}

.container__menu{
    background-color: var(--cor-fundo-div);
    border-right: 1px solid lightgrey;
    display: flex;

}
