@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

:root {
    --cor-fundo: #F8F8F8;
    --cor-fundo-div: #e9ebee;
    --cor-destaque: #475EF2;
    --cor-hover: #7666e9;
    --cor-fonte: #090D1F;
    --cor-fonte-claro: #636a74; 
    --fonte: Geist, sans-serif;
    --fonte-secundaria: Geist, Mono, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: var(--cor-fundo);
    display: grid;
}

.cabecalho__logo {
    background-color: #475EF2;

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .8rem;
    padding: 1rem;
    background-color: var(--cor-fundo-div);
    border-bottom: 1px solid lightgrey;
}

.cabecalho__logo {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.cabecalho__titulo{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-fonte);
}

.cabecalho__texto{
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-fonte-claro);
}

main {
    display: flex;
}

.container__menu{
    background-color: var(--cor-fundo-div);
    border-right: 1px solid lightgrey;
    /* display: flex; */
    padding: 0.7rem;
}

.menu__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--fonte);
    color: var(--cor-fonte);
    font-weight: 500; 
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.menu__item:not(:last-child){
    margin-bottom: 1.0rem;
}

.menu__item:hover{
    background-color: var(--cor-hover);
}

.item__texto{
    max-width: 150px;
    min-width: 100px;
}


