.conteudo {
    padding: 1.5rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--cor-fonte);
    font-family: var(--fonte);
    font-weight: 400;
    background-color: var(--cor-fundo);
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    width: 15rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 0.8px rgba(0, 0, 0, 0.02);
    transition: background-color .15s ease-in-out;
}

a:hover {
    background-color: var(--cor-hover);
}

a:active {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-div);
}

a:not(:last-child) {
    margin-right: 1rem;
}

article {
    background-color: var(--cor-fundo-div);
    border: 1px solid lightgrey;
    border-radius: 0.7rem;
    padding: 1.5rem;
    line-height: 1.5rem;
    max-width: 70vw;
    margin-bottom: 1.5rem;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.03);
}

.sobre__lista {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.sobre__lista li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h2 {
    color: var(--cor-fonte);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

h3 {
    color: var(--cor-fonte);
    margin-bottom: 1.5rem;
}

.conteudo__lista {
    margin-bottom: 0;
}

.conteudo__lista p {
    margin-bottom: 1.2rem;
}

article pre {
    padding: 1rem;
    font-size: 0.9rem;
}

article pre span {
    font-weight: 600;
}

article code {
    font-family: var(--fonte-secundaria);
}

article div {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

.conteudo__horario__container {
    display: flex;
    max-width: 70vw;
    gap: 1.5rem;
    align-items: stretch;
}

.conteudo__horario__container article {
    width: calc(50% - 0.75rem);
    max-width: none;
}

.conteudo__horario__last {
    margin-bottom: 1rem;
}

.conteudo__horario span {
    color: var(--cor-fonte);
}

.conteudo__horario__destaque {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 600;
}

.paragrafo__fatec {
    margin-bottom: 1rem;
}