/* GERAL --------------------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

.conteudo {
    padding: 1.5rem;
    margin: 0 auto;
    width: 70vw;
}

.conteudo__artigo {
    background-color: var(--cor-fundo-div);
    border: 1px solid lightgrey;
    border-radius: 0.7rem;
    padding: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.03);
}

.conteudo__titulo {
    color: var(--cor-fonte);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.conteudo__subtitulo {
    color: var(--cor-fonte);
    margin-bottom: 1.5rem;
}

/* SOBRE -------------------------------------------------------------------------------------------- */
#conteudo-sobre {
    display: none;
}

.sobre__lista {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.sobre__lista li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* CONTEUDO ----------------------------------------------------------------------------------------- */

#conteudo-disciplina {
    display: none;
}

#conteudo-algoritmos, #conteudo-logica, #conteudo-estrutura-controle{
    display: none;
}

.conteudo__codigo {
    padding: 1rem;
    font-size: 0.9rem;
}

.conteudo__codigo span {
    font-weight: 600;
}

.conteudo__codigo code {
    font-family: var(--fonte-secundaria);
}

/* LISTA DE EXERCICIOS ----------------------------------------------------------------------------- */

#conteudo-exercicios {
    display: none;
}

.conteudo__exercicios p {
    margin-bottom: 1.2rem;
}

.exercicios__lista{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-fonte);
    font-family: var(--fonte);
    font-weight: 400;
    background-color: var(--cor-fundo);
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    width: 15rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 0.8px rgba(0, 0, 0, 0.02);
    transition: background-color .15s ease-in-out;
}

.exercicios__lista:hover {
    background-color: var(--cor-hover);
}

.exercicios__lista:active {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-div);
}

.exercicios__lista:not(:last-child) {
    margin-right: 1rem;
}



/* HORARIO E CONTATO ------------------------------------------------------------------------------ */

#conteudo-info {
    display: none;
}

.info__container {
    display: flex;
    gap: 1.5rem;
}

.info__container article {
    width: calc(50% - 0.75rem);
}

.conteudo__info span {
    color: var(--cor-fonte);
}

.info__destaque {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 600;
}

.conteudo__info div {
    display: flex;
    justify-content: space-between;
}

.info__last {
    margin-bottom: 1rem;
}

.info__fatec {
    margin-bottom: 1rem;
}

#link__grupo {
    font-size: smaller;
    color: var(--cor-fonte-claro);
}