.container__menu{
    background-color: var(--cor-fundo-div);
    border-right: 1px solid lightgrey;
    padding: 0.7rem;
}

.menu{
    position: sticky;
    top: 6rem;
}

.menu__item{
    display: grid;
    grid-template-columns: 24px auto 24px;
    gap: 0.8rem;
    align-items: center;
    max-width: 230px;
    min-width: 200px;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--cor-fonte);
    font-weight: 500;
    transition: background-color .15s ease-in-out;
    position: relative;
}

.menu__item:not(:last-child){
    margin-bottom: 0.5rem;
}

.menu__item:hover{
    background-color: var(--cor-hover);
}

.item__ativo{
    background-color: var(--cor-hover);
}

.menu__submenu{
    grid-column: 1 / -1;
    padding: 0 2.2rem;
    margin-bottom: 0.5rem;
    display: none;
}

.submenu__item{
    font-size: 0.9rem;
    cursor: pointer;
}

.submenu__item:not(:last-child){
    margin-bottom: 0.25rem;
}

.submenu__item:hover{
    text-decoration: underline;
}

.submenu__ativo{
    text-decoration: underline;
}

#seta-algoritmos {
  transition: transform .1s ease-in-out;
}
 
.seta__rodada{
    transform: rotate(90deg);   
}

.submenu__aparece{
    display: block;
}

